.cart-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.cart-item img {
  margin-right: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-details h1 {
  margin: 0;
}

.item-details p {
  margin: 0;
}
