.app {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    height: 100%;
    background-color: #a5a1a1;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto; /* Enable vertical scrolling for sidebar if needed */
    margin-top: 50px;
}
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    cursor: pointer;
    padding: 10px;
  }
  
  .sidebar li.active {
    background-color: #555;
  }
  
  .content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }

  .sidebar-link {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }
  
  .sidebar-link.active {
    font-weight: bold;
    color: #2196F3; /* Change the color for the active link */
  }
  
  
  
  
  
  