.layout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80vh;
  margin-top: 80px;
}

.left-column {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-right: 20px;
}

.right-column {
  width: 50%;
}

.carousel-item:hover {
  background-color: white;
  border: 2px solid #2196F3; ;
  margin-bottom: 10px;
}

.carousel-item {
  border: 2px solid #ccc ;
  margin-bottom: 10px;
  cursor: pointer;
}

.carousel-item-view {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.rating-view {
  display: flex;
  align-items: center;
}