.admin-container {
    display: flex;
}

.admin-sidebar {
    width: 20%;
    background-color: #333;
    color: white;
}

.admin-sidebar ul {
    list-style: none;
    padding: 0;
}

.admin-sidebar li {
    padding: 10px;
    cursor: pointer;
}

.admin-sidebar li:hover {
    background-color: #555;
}

.admin-content {
    flex: 1;
    padding: 20px;
}

.app {
    display: flex;
    margin-top: 60px;
  }

/* .content {
    height: 100vh;
}   */

.content {
    height: 100vh;
    margin-left: 300px;
    overflow-y: auto; /* Enable vertical scrolling for content */
}