.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Style for form labels */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style for input fields */
  input[type="text"],
  input[type="number"],
  textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Style for file input */
  input[type="file"] {
    margin-top: 5px;
  }
  
  /* Style for error messages */
  /* p {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  } */

  .errorText {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }

  button[type="submit"] {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the button text */
    border: none; /* Remove the button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    margin-top: 10px;
  }
  
  /* Hover effect for the button */
  button[type="submit"]:hover {
    background-color: #0056b3; /* Button background color on hover */
  }



  /* #img-preview {
    display: none; 
    width: 155px;   
    border: 2px dashed #333;  
    margin-bottom: 20px;
  }
  #img-preview img {  
    width: 100%;
    height: auto; 
    display: block;   
  }
  [type="file"] {
    height: 0;  
    width: 0;
    overflow: hidden;
  }
  [type="file"] + label {
    font-family: sans-serif;
    background: #f44336;
    padding: 10px 30px;
    border: 2px solid #f44336;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
  }
  [type="file"] + label:hover {
    background-color: #fff;
    color: #f44336;
  } */